#287390
#01053c
rgb(21 44 95)
<div>
    @if (ViewBag.ChampionsStats == null)
    {
        <div>Champions stats is not found</div>
    }
    else
    {
        <div class="flat-table" align="center">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Pick rate</th>
                        <th>Win rate</th>
                        <th>Ban rate</th>
                    </tr>
                    @foreach (var championStats in ViewBag.ChampionsStats)
                    {
                        var championPickRate = Math.Round(championStats.PickRate * 100, 3).ToString() + '%';
                        var championWinRate = Math.Round(championStats.WinRate * 100, 3).ToString() + '%';
                        var championBanRate = Math.Round(championStats.BanRate * 100, 3).ToString() + '%';
                        <tr class="">
                            <td></td>
                            <td>@championStats.Name</td>
                            <td>@championPickRate</td>
                            <td>@championWinRate</td>
                            <td>@championBanRate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>