<script>
        function reference()
        {
            const form = document.getElementById(search);
            form.action = "https://localhost:5001/Summoner/Find";
            form.method = "GET";
        }
    </script>

    <div>
        <form id="search" action="Find">
            Enter summoner name:
            <input type="text" name="name" />
            <select name="region">
                <option value="BR1">BR1</option>
                <option value="EUN1">EUN1</option>
                <option value="EUW1">EUW1</option>
                <option value="JP1">JP1</option>
                <option value="KR">KR</option>
                <option value="LA1">LA1</option>
                <option value="LA2">LA2</option>
                <option value="NA1">NA1</option>
                <option value="OC1">OC1</option>
                <option  selected="selected" value="RU">RU</option>
                <option value="TR1">TR1</option>
            </select>
            <button class="button" onclick={form.submit()}>Search</button>
        </form>
    </div>

@*<div>
    Enter summoner name:<br>
    <input type="text" name="name" id="name_1" />
    <select name="region" id="region_1">
        <option value="BR1">BR1</option>
        <option value="EUN1">EUN1</option>
        <option value="EUW1">EUW1</option>
        <option value="JP1">JP1</option>
        <option value="KR">KR</option>
        <option value="LA1">LA1</option>
        <option value="LA2">LA2</option>
        <option value="NA1">NA1</option>
        <option value="OC1">OC1</option>
        <option value="RU">RU</option>
        <option value="TR1">TR1</option>
    </select>
    <button onclick={func()}>Search</button>
</div>

<script>
    async function func() {
        let name_1 = document.querySelector('#name_1').value;
        let region_1 = document.querySelector('#region_1').value;
        let url = `https://localhost:5001/Summoner/Find?name=${name_1}&region=${region_1}`;
        await fetch(url).then(res => console.log(res)).then(resp => console.log(resp));
    }
</script>*@